.items__entries {
    flex: 1 1 auto;
    overflow: scroll;
    ::-webkit-scrollbar {
        display: none;
    }
}

.items__entries::-webkit-scrollbar {
    display: none;
}

.items__entry {
    display: flex;
    justify-content: space-between;
    padding-top: $margin-default;
    padding-bottom: $margin-default;
    border-bottom: solid 1px $gray-light;

}

.items__entry-nametype {
    align-items: baseline;
    display: flex;
    flex-direction: column;

}

.items__entry-nametype h2 {
    font-size: $font-size-title-item;
    color: rgba(0, 0, 0, 1);
}

.items__entry-nametype p {
    font-size: $font-size-especie-item;
    color: rgba(0, 0, 0, 0.5);
}

.items__entry-arrow {
    display: flex;
    align-items: center;
    padding-left: $margin-default;
    padding-right: 20px;
}

.items__entries-loading {
    color: $text-dark;
    display: flex;
    justify-content: center;
    padding-top: $margin-default;
    padding-bottom: $margin-default;
}
.items__entries-loading h1 {
    font-size: 17px;
    margin-left: 8px;
    color: $text-light;
}