.sidebar__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 350px;
    border-right: solid 1px $gray-light;
    padding-left: 16px;
}

.sidebar__failed {
    font-size: 14px;
    color: $text-emphasis;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}