// Colors
$ravn-black: #121212;
$text-dark: #333333;
$text-light: #828282;
$text-emphasis: #EC5757;
$gray-light: rgba(0,0,0,0.2);

// Font Size
$font-size-title-item: 12pt;
$font-size-especie-item: 10pt;

// Margin Default
$margin-default: 16px;

